#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #e5d3d3;
  background-image: linear-gradient(to bottom, #000000, #888888);
}


  .nav-link {
    color: #e5d3d3;
  }


.photo-container {
    flex: 0 0 auto;
    
    margin-top: 20px;
}

.photo {
    width: 200px;
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
}

.info-container {
    margin-top: 20px;
}

