@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

:root {
  --primary-color: #6b93d6; /* Softer blue */
  --primary-color-hover: #537bb8; /* Slightly darker blue for hover */
  --accent-color: #ffd166; /* Warm yellow */
  --text-color: #3e3e3e; /* Dark grey for better readability */
  --background-color: #f9f9f9; /* Light background color */
  --background-gradient: linear-gradient(to bottom, #ffffff, #e3e3e3); /* Light gradient background */
  --card-background: #ffffff; /* White card background */
  --card-hover: #f1f1f1; /* Light grey for card hover */
  --border-color: #cccccc; /* Light grey border */
  --link-color: #6b93d6; /* Primary color for links */
  --link-hover-color: #676665; /* Accent color for link hover */
  --light-border-color: rgba(0, 0, 0, 0.1); /* Light border color */
  --font-family: 'Josefin Sans', cursive;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
  background-image: var(--background-gradient);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

.nav-link {
  color: var(--link-color);
}

.nav-link:hover {
  color: var(--link-hover-color);
}

.skills {
  border: 1px solid var(--border-color);
  animation: glowing-border 2.5s infinite alternate;
  padding: 20px;
  margin-top: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6)
  );
}

@keyframes glowing-border {
  from {  
    border-color: var(--accent-color);
  }
  to {
    border-color: var(--light-border-color);
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.project-card {
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--card-hover);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 20px;
}

.project-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.project-link {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project-link:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.05);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container {
  margin-top: 100px;
}

.photo-2 {
  width: 200px;
  border-radius: 50%;
  
}

.photo:hover {
  transform: scale(1.1);
}

.info-container {
  max-width: 700px;
  color: var(--text-color);
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.footer {
  margin-top: 50px;
  color: var(--text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-text {
  margin-top: 10px;
}

.icon {
  margin: 0 10px;
  font-size: 30px;
}

.skills p:hover {
  color: var(--primary-color);
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

textarea.form-control {
  height: 150px;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.screenshot {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.error-text {
  color: var(--primary-color);
}

p {
  font-size: 0.9em;
  font-style: italic;
  padding: 10px;
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .photo-container {
    margin-right: 40px;
  }
}
