@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #e5d3d3;
  background-image: linear-gradient(to bottom, #000000, #888888);
}
body {
  font-family: "Josefin Sans", cursive;
}
.nav-link {
  color: #e5d3d3;
}
.nav-link:hover {
  color: #888888;
}

.skills {
  border-style: solid;
  animation: glowing-border 2.5s infinite alternate;
  padding: 20px;
  margin-top: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(57, 47, 47, 0.5),
    rgba(105, 97, 97, 0.2)
  );
}

@keyframes glowing-border {
  from {  
    border-color: #ffffff;
  }
  to {
    border-color: rgba(105, 97, 97, 0.2);
  }
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 20px;
}

.project-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #0056b3;
}


.container {
  margin-top: 100px;
}

.photo-2 {
  width: 200px;
  border-radius: 50%;
}

.photo:hover {
  transform: scale(1.1);
}
.info-container {
  max-width: 700px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.footer {
  margin-top: 50px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.centered-text {
  margin-top: 10px;
}
.icon {
  margin: 0 10px;
  font-size: 30px;
}

.skills p:hover {
  color: #ebebeb;
}
.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea.form-control {
  height: 150px;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.screenshot {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  font-size: 0.9em;
  font-style: italic;
  height: auto;
  padding: 10px;
}

.screenshot:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.909);
}

.error-text {
  color: red;
}
@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .photo-container {
    margin-right: 40px;
  }
}
